.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #201f1f;
  color: yellow;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .topbar-action {
    display: flex;
    align-items: center;
    width: 150px;

    span {
      margin-left: 1rem;
      cursor: pointer;
    }
  }
}
