.dashboard-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  .dashboard-body {
    display: flex;
    flex: 1;
  }
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}
